{% extends 'base.html.twig' %}

{% block title %}Remember Password{% endblock %}

{% block body %}
    <div class="col-md-4 m-auto">
        <div class="card mt30">
            <div class="card-header text-center">
                <h2>Change Password</h2>
            </div>
            <div class="card-body">
                {% if error == 1 %}
                    <div class="alert alert-danger" role="alert">
                        This link is invalid.
                    </div>
                {% elseif error == 2 %}
                    <div class="alert alert-danger" role="alert">
                        This link has been used.
                    </div>
                {% elseif error == 3 %}
                    <div class="alert alert-danger" role="alert">
                        This link has expired
                    </div>
                {% elseif error == 4 %}
                    <div class="alert alert-danger" role="alert">
                        There is no user account with this email address.
                    </div>
                {% elseif error == 5 %}
                    <div class="alert alert-success" role="alert">
                        The password has been changed. You can <a href="{{ path('login') }}">login now.</a>
                    </div>
                {% elseif error == 6 %}
                    {{ form_start(form) }}
                        {{ form_widget(form.password.first) }}
                        {{ form_widget(form.password.second) }}
                        <div class="text-center">
                            {{ form_widget(form.Change) }}
                        </div>
                    {{ form_end(form) }}
                {% endif %}

                <div class="row mt30">
                    <div class="col-md-6 m-auto text-center">
                        <a href="{{ path('login') }}"><i class="fa fa-arrow-right"></i> Login</a>
                    </div>

                    <div class="col-md-6 m-auto text-center">
                        <a href="{{ path('signUp') }}"><i class="fa fa-arrow-right"></i> Create account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}