{% extends 'base.html.twig' %}

{% block title %}New Paste{% endblock %}

{% block metaTags %}
    <meta name="description" content="A free, anonymous, minimalist and open source paste tool.">
{% endblock %}

{% block body %}
    <div class="container mt30">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8 mb20">
                {{ form_widget(form.title) }}
            </div>

            <div class="col-md-4 mb20">
                {{ form_widget(form.privacy) }}
            </div>

            <div class="col-md-12 mb20">
                {{ form_widget(form.content) }}
            </div>

            <div class="col-md-12 mb20">
                {{ form_widget(form.name_hnp99) }}
            </div>

            {% if user %}
                <div class="col-md-12 mb20">
                    <input name="isAnonymous" type="checkbox" value="anonymous"> Send anonymous?
                </div>

                {% if user.isAdmin %}
                    <div class="col-md-12 mb20">
                        <input name="asAdmin" type="checkbox" value="admin"> Send as Admin
                    </div>
                {% endif %}
            {% endif %}

            <div class="col-md-12 mb20 text-center">
                {{ form_widget(form.Send) }}
            </div>
        </div>


        {{ form_end(form) }}
    </div>
{% endblock %}
