{% extends 'baseAdmin.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-md-10 m-auto text-center">
            <h1 class="mt30">Reports</h1>
            <hr/>

            <div class="col-md-10 m-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs" id="adminReportsTab" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" data-toggle="tab" href="#pendingReports" role="tab" aria-controls="pendingReports" aria-selected="true">Unread</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#activeReports" role="tab" aria-controls="activeReports" aria-selected="false">Active Reports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#closedReports" role="tab" aria-controls="closedReports" aria-selected="false">Closed Reports</a>
                            </li>
                        </ul>

                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="pendingReports" aria-labelledby="pendingReports">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Paste</th>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Options</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for r in pendingReports %}
                                            <tr>
                                                <td>{{ r.id }}</td>
                                                <td><a href="{{ path('viewReport', {'id': r.id}) }}" target="_blank">{{ r.paste.title }}</a></td>
                                                <td>{{ r.date | date('d-m-Y H:i:s') }}</td>
                                                <td>
                                                    {% if r.user is null %}
                                                        Anonymous
                                                    {% else %}
                                                        {{ r.user.username }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if r.readed %}<i class="fa fa-envelope-open"></i>{% else %}<i class="fa fa-envelope"></i>{% endif %}
                                                    {% if r.active %}<i class="fa fa-question-circle"></i>{% else %}<i class="fa fa-window-close"></i>{% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="activeReports" aria-labelledby="activeReports">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Paste</th>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Options</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for r in activeReports %}
                                            <tr>
                                                <td>{{ r.id }}</td>
                                                <td><a href="{{ path('viewReport', {'id': r.id}) }}" target="_blank">{{ r.paste.title }}</a></td>
                                                <td>{{ r.date | date('d-m-Y H:i:s') }}</td>
                                                <td>
                                                    {% if r.user is null %}
                                                        Anonymous
                                                    {% else %}
                                                        {{ r.user.username }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if r.readed %}<i class="fa fa-envelope-open"></i>{% else %}<i class="fa fa-envelope"></i>{% endif %}
                                                    {% if r.active %}<i class="fa fa-question-circle"></i>{% else %}<i class="fa fa-window-close"></i>{% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="closedReports" aria-labelledby="closedReports">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Paste</th>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Options</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for r in closedReports %}
                                            <tr>
                                                <td>{{ r.id }}</td>
                                                <td><a href="{{ path('viewReport', {'id': r.id}) }}" target="_blank">{{ r.paste.title }}</a></td>
                                                <td>{{ r.date | date('d-m-Y H:i:s') }}</td>
                                                <td>
                                                    {% if r.user is null %}
                                                        Anonymous
                                                    {% else %}
                                                        {{ r.user.username }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if r.readed %}<i class="fa fa-envelope-open"></i>{% else %}<i class="fa fa-envelope"></i>{% endif %}
                                                    {% if r.active %}<i class="fa fa-question-circle"></i>{% else %}<i class="fa fa-window-close"></i>{% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}