{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-md-10 m-auto text-center">
            <h1 class="mt30">User Profile</h1>
            <hr/>

            <div class="col-md-10 m-auto">
                {% if error == 0 %}
                    <div class="col-md-8 m-auto text-left">
                        <p><b>Username: </b>{{ u.username }}</p>
                        <p><b>Email: </b>{{ u.email }}</p>
                        <p><b>Sign Up Date: </b>{{ u.signUpDate | date('d-m-Y H:m:i')}}</p>
                        <p><b>Pastes: </b>{{ u.paste | length }}</p>
                        <p><b>Reports: </b>{{ u.report | length }}</p>
                        <p><b>Status: </b>{% if u.suspended %}Suspended{% elseif u.active %}Active{% else %}Inactive{% endif %}</p>
                    </div>

                    <div class="col-md-8 m-auto text-center">
                        {% if u.suspended %}
                            <a href="{{ path('adminApproveUser', {'id': u.id}) }}" class="btn btn-lg btn-success">Approve User</a>
                        {% else %}
                            <a href="{{ path('adminSuspendUser', {'id': u.id}) }}" class="btn btn-lg btn-danger">Suspend User</a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        <h4>This user not exists.</h4>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}