{% extends 'base.html.twig' %}

{% block title %}My Pastes{% endblock %}

{% block body %}
    <div class="col-md-10 m-auto">
        <h3 class="mt30">Number of Pastes: {{ pastes | length }}</h3>
        <div class="table-responsive">
            <table class="table table-bordered mt30">
                <thead class="thead-dark text-center">
                <tr>
                    <th>Paste</th>
                    <th>Date</th>
                    <th>Privacy</th>
                    <th>Author</th>
                    <th>Visits</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for paste in pastes %}
                    <tr>
                        <td><a href="{{ path('viewPaste', {'url': paste.url}) }}" target="_blank">{{ paste.title }}</a></td>
                        <td>{{ paste.date | date('d-m-Y H:i:s') }}</td>
                        <td>{{ paste.privacy }}</td>
                        <td>
                            {% if paste.isAnonymous == true %}
                                Anonymous
                            {% else %}
                                You
                            {% endif %}
                        </td>
                        <td>{{ paste.visit | length }}</td>
                        <td>
                            {% if paste.privacy == 'public' %}
                                <a href="{{ path('changePrivacyPaste', {'url': paste.url}) }}" title="Make private"><i class="fa fa-lock"></i></a>
                            {% elseif paste.privacy == 'private' %}
                                <a href="{{ path('changePrivacyPaste', {'url': paste.url}) }}" title="Make public"><i class="fa fa-unlock"></i></a>
                            {% endif %}
                            <a href="{{ path('editPaste', {'url': paste.url}) }}" title="Edit Paste"><i class="fa fa-edit"></i></a>
                            <a href="{{ path('confirmDelete', {'url': paste.url}) }}" title="Remove Paste"><i class="fa fa-remove remove"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}